.snap { width: auto; }
.snap, .snap td, .snap th {border-collapse: collapse; border: 1px solid #444; padding: 0.4em; }
.snap-tab  tr td:first-child { font-weight: bold; }
.snap-tab tr:nth-child(even) { background-color: #ebebeb; }
.snap-tab tr:nth-child(odd) { background-color: transparent; }

#snap-dates select { width: auto; border: 1px solid #444; }
